[tox]
envlist = {{ cogs | join(',') }}
isolated_build = true
skipsdist = true

[testenv]
deps =
    -r ".red-framework/tools/dev-requirements.txt"
commands = pytest {posargs}

{% for cog in cogs %}
[testenv:cog_{{ cog }}]
deps =
    {[testenv]deps}
    -r "{{ cogs_dir }}/{{ cog }}/requirements.txt"
commands = pytest -c "{env:PYTEST_INI:pytest.ini}" "cogs/{{ cog }}" {posargs}

{% endfor %}
